# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
build/
dist/

# OS/Editor files
.idea/
.vscode/
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron-packager outputs
out/
release/
*.exe
*.dmg
*.AppImage